/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/img/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/debugbar/
/storage/api-docs/
/public/css/app.css
/public/js/app.js
public/mix-manifest/.json
public/