<template>
    <div class="container">
        <div class="about-container p-3">
            <!-- <h3 class="pb-2"><b>{{ $t("about.title") }}</b></h3>
            <p class="pl-4">{{ $t("about.p1") }}</p>
            <p class="pl-4">{{ $t("about.p2") }}</p>
            <p class="pl-4">{{ $t("about.p3") }}</p>
            <p class="pl-4">{{ $t("about.p4") }}</p>
            <p class="pl-4">{{ $t("about.p5") }}</p> -->
            
            <div class="col-12">
                <h3>{{ $t("about.title1") }}</h3>
                <p class="pl-4">{{ $t("about.p1") }}</p>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title2") }}</h3>

                <p class="pl-4">{{ $t("about.p2") }}</p>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title3") }}</h3>

                <p class="pl-4">{{ $t("about.p3") }}</p>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title4") }}</h3>

                <p class="pl-4">{{ $t("about.p4") }}</p>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title5") }}</h3>
                <ul class="pl-4">
                    <li>{{ $t("about.li1") }}</li>
                    <li>{{ $t("about.li2") }}</li>
                    <li>{{ $t("about.li3") }}</li>
                    <li>{{ $t("about.li4") }}</li>
                    <li>{{ $t("about.li5") }}</li>
                    <li>{{ $t("about.li6") }}</li>
                    <li>{{ $t("about.li7") }}</li>
                </ul>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title6") }}</h3>
                <ul class="pl-4">
                    <li>{{ $t("about.li8") }}</li>
                    <li>{{ $t("about.li9") }}</li>
                    <li>{{ $t("about.li10") }}</li>
                    <li>{{ $t("about.li11") }}</li>
                </ul>
            </div>
            <div class="col-12">
                <h3>{{ $t("about.title7") }}</h3>
                <p class="pl-4">{{ $t("about.p5") }}<a href="mailto:info@greekparliament.info" title="Email us">info@greekparliament.info</a>.</p>
            </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    $containerColor: white;
    .about-container {
        background-color: $containerColor;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<script>
export default {

}
</script>