// Layout

$midNavBgColor: cyan;
$mainContentBgColor: green;
$footerBgColor: yellow;

// Topnav
$topNavBgColor: red;
$logoColor: #39c562;

// Conferences
$containerTitleColor: #39c562;
$titleTextFontColor: #636b6f;
$bodyTextFontColor: #636b6f;
$conferencesContainerColor: white;
$conferenceContainerBoxColor: white;
$conferenceContentBoxColor: #e6e6e6;



//to background whole page , add the variable inside body BgColor
// .content-bg-color{ background-color: red!important }
// .navbar-bg-color{ background-color: green!important }
html {height: 100%;}
body {
    display: table;
    height: 100%;
    width: 100%;
}
html, body {
    background-color: #f3f1eb;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    // height: 100vh;
    min-height:100%;
    margin: 0;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(130, 199, 235);
}

::selection {
    color: white;
    background: rgb(130, 199, 235);
}
@media (min-width: 768px){
    nav{ padding: 0!important;}
}
.pointer{
    cursor: pointer;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  .menu-navbar{
    border-top: 1px solid rgba(0, 0, 0, 0.1)
  }
.navbar-nav .nav-item:hover{
    background-color: rgba(0, 123, 255, 0.25);
}
.active{
    background-color: rgba(0, 123, 255, 0.25);
}
.tab-pane.active{
    background-color: white;
}
.mytable-info{
    background-color: rgba(0, 123, 255, 0.25);
}
.mytable-info:hover{
    background-color: rgb(233, 236, 239)!important;
}
.row{
    margin-left: -4px!important;
}
.card{
    // flex-direction: row!important;
}
.card-img-top-bg{
    background-color: rgb(186, 218, 251);
    height: 100px;
}
.img-style{
    max-width: 100px!important;
    height: 100%!important;
    border-radius: 50px;
}
.img-body img{
    height: auto!important;
}
.iconsFont{
    font-size: 30px;
}
.iconsColor{
    color:#17a2b8;
}
.addSpace{
    margin-top: 10px;
}
.details-content label{
    display: inline-block;
    width: 106px;
    padding-right: 10px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}
@media (max-width: 385px) { 
    .details-content label{
        font-size: 13px;
        width: 100px;
    }
}
.borderless td, .borderless th {
    border: none;
}

.multiselect__option--highlight{
    //background-color: rgb(186, 218, 251)!important;
}
.custom__tag {
    display: inline-block;
    padding: 3px 7px;
    background: rgb(186, 218, 251);
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.vue-js-switch#changed-font {
    font-size: inherit;
}
.reset-btn{
    color: #fff;
    background-color: #4896e5;
    border-color: #4896e5;
}
.show-details-dates{
    background-color: #fff;
    // position: relative;
    top: -13px;
}
.scrollable{
    height: 700px;
    overflow-y: auto;
}
.info-icon{
    font-size: 20px;
    cursor: pointer;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .5s ease-in-out;
}
.slide-fade-leave-active {
    transition: all .3s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
} 




hr.divider { 
    margin: 0em;
    border-width: 1px;
} 

/* Container holding the image and the text */
.image-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
} 

.image-text {
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-weight: 600;
}

.imagebox-text-title {
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
}
.imagebox-text {
    padding-top:20px;
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 18px;
    text-align: justify;
}

/* css for home page*/
.container-imagebox {
    background-color:#1e374d;
    // padding-left:5%;
}

/* Container holding the image and the text */
.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.search {
    position: absolute;
    top: 90%;
    left: 47.5%;
    transform: translate(-50%, -50%);
}

//footer
.page-footer{
    // position: absolute;
    // bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    display: table-footer-group;
    height: 1px;
}

//scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(130, 199, 235); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 199, 235); 
}

/* Cookie alert */
.cookie-consent {
    font-size: 0.9em;
    padding: 1em;
    background: #fff2e0;
    text-align: center;
}

.cookie-consent__message {
    display: inline-block;
    color: #d98e00;
}

.cookie-consent__message p {
    margin: 0;
}

.cookie-consent__agree {
    font-weight: bold;
    margin: 0 1em;
    padding: .5em 1em;
    color: #fff2e0;
    background-color: #d98e00;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(217, 142, 0, 0.15);
    cursor: pointer;
}

.cookie-consent__agree:hover {
    background-color: #734d00;
}

.cookie-consent__agree:active {
    top: 1px;
}

// Navbar top
.logo {
    background-color: $logoColor;
    padding: 10px;
}


// Conferences
.conferences-container {
    background-color: $conferencesContainerColor;
    border-radius: 3px;
}
.conference-title-box {
    background-color: $containerTitleColor;
    height: 100px;
    padding-top: 25px;
}
.pickerDiv {
    margin-bottom: 10px;
}
.conference-content-box {
    border-bottom: 1px solid $conferenceContentBoxColor;
    text-align: initial;
    background-color: $conferenceContainerBoxColor;
    /* margin: 15px 0 15px 0; */
}
.conference-content-box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.datepicker {
    padding-right: 30px;
}

@media (min-width: 768px) { 
    .conference-content-box:hover{
        position: relative;
        /* height: 200px; */
        width: inherit;
        background: #fff;
        border: none;
        /* top: -30px;*/
        padding: 20px;
        /* -webkit-box-shadow: 0px 0px 30px 10px rgba(18,18,18,0.5);
        -moz-box-shadow: 0px 0px 30px 10px rgba(18,18,18,0.5); */
        -webkit-box-shadow: 0px 0px 30px 10px #8888885c;
        -moz-box-shadow: 0px 0px 30px 10px #8888885c;
        /* box-shadow: 0px 0px 30px 10px rgba(18,18,18,0.5); */
        box-shadow: 0px 0px 30px 10px #8888885c;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: -20px;
    }
}
@media (min-width: 992px) { 
    .conference-content-box:hover{
        left: -20px;
    }
}